body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 1em;

  > ul.products {
    flex: auto;
    list-style: none;
    padding: 0;

    > li {
      padding: 1em;
      border-bottom: 1px solid lightgrey;
      display: flex;
      justify-content: space-between;
    }
  }
}
