**/dist
**/node_modules
**/.parcel-cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Deployers
.vercel

# Ignore lockfiles to always work with the latest packages
**/package-lock.json
