body {
  font-family: sans-serif;
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  flex-direction: column;

  > h1 {
    margin: 0 0 1em 0;
    font-size: 1.5rem;
  }

  > section#product {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em 4em;
  }
}
